:root{
    --orange: #FF7040;
}

.vertical{
    width: 300px;
    background-color: var(--orange);
    transform: rotate(90deg);
}

.options{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60vw;
    margin: auto;
}

.option{
    flex-basis: 27%;
    margin-top: 60px;
    margin-left: 10px;
    margin-right: 10px;
}

.btn-option{
    border-radius: 15px;
    margin: 10px;
    background-color: transparent;
    border: 1px solid var(--orange);
    height: 30px;
    width: 100px;
    transition: 0.5s background-color;
}

.btn-option:hover{
    background-color: var(--orange);
    color: #FFFFFF;
    transition: 0.5s background-color;
}

@media (max-width: 700px) {
    .vertical{
        display: none;
    }

    .options{
        flex-direction: column;
    }
}