{% extends 'base.html' %}

{% block content %}
<h1 class="title cust">Clientes</h1>
<hr class="line">
{% if customers %}
<div class="customers">
    {% for i in customers %}
    <div class="customer">
        <p class="text flex-item flex-cust">{{i.name}}</p>
        {% if i.operation %}
        <p class="text flex-item flex-cust">{{i.operation}}</p>
        {% else %}
        <p class="text flex-item flex-cust">Não fornecido</p>
        {% endif %}
        {% if i.billing %}
        <p class="text flex-item flex-cust">R${{i.billing}}</p>
        {% else %}
        <p class="text flex-item flex-cust">Não fornecido</p>
        {% endif %}
        <a href="{% url 'customers:read' pk=i.pk %}" class="flex-item flex-cust"><button class="btn-customer">Detalhes</button></a>
        <a href="{% url 'customers:update' pk=i.pk %}" class="flex-item flex-cust"><button class="btn-customer">Atualizar</button></a>
        <a href="{% url 'customers:delete' pk=i.pk %}" class="flex-item flex-cust"><button class="btn-customer">Deletar</button></a>
    </div>
    {% endfor %}
</div>
{% else %}
<p class="text">Não há clientes cadastrados.</p>
{% endif %}
{% endblock %}